* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root {
    /*!pseudoclase*/
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: rgb(27, 42, 61);
    background: radial-gradient(circle, rgba(27, 42, 61, 1) 0%, rgba(20, 23, 20, 1) 96%);
}

.container {
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

.header {
    height: 100vh;
    background-image: linear-gradient(to right, rgba(68, 233, 123, 0.30) 0%, rgba(56, 249, 214, 0.30) 100%), url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.head {
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.hamburger-icon {
    position: fixed;
    top: 30px;
    right: 30px;
    background: #fff;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 0 6px rgb(0, 0, 0, .5);
}

.nav-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 20vw;
    height: 100%;
    background-image: linear-gradient(to top, rgba(15, 216, 79, 0.600) 0%, rgba(249, 240, 71, 0.600) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    transition: transform .3s ease-in-out;
    transform: translate(100%);
}

.spread {
    transform: translate(0);
}

.nav-menu a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.titulo {
    font-size: 60px;
    margin-bottom: 15px;
}

.copy {
    font-weight: 400;
    font-size: 25px;
    color: #000
}

/*!  Nuestro Servicio*/

.subtitulo {
    text-align: center;
    font-weight: 300;
    color: #9f8ad0;
    margin-bottom: 40px;
    font-size: 40px;
}

.container-service {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    color: seashell;
    text-align: justify;
}

.container-service img {
    width: 40%;
}

.checklist-service {
    width: 45%;
}

.service {
    margin-bottom: 20px;
}

.n-service {
    margin-bottom: 7px;
    color: #9f8ad0;
}

.number {
    display: inline-block;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    width: 30px;
    height: 30px;
    color: snow;
    text-align: center;
    line-height: 30px;
    /*! Centrar texto verticalmente  */
    border-radius: 50%;
    margin-right: 5px;
}

/*!  Gaaleria */

.gallery {
    background-color: cornsilk;
}

.container-galery {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-gallery {
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 8px rgb(27, 42, 61, .5);
    cursor: pointer;
}

.imagen-light {
    position: fixed;
    background: rgb(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    /*! alinear de manera vertical */
    align-items: center;
    /*! alinear de manera horizontal */
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.show{
    transform: translate(0);
}

.add-img {
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform 1s;

}
.show-img {
    transform: scale(1);
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

/*! Expertos */

.experts {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.cont-expert {
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
    color: snow;
}

.cont-expert img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.n-expert {
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-weight: 400;
}

/*! Footer  */

footer {
    background: black;
    padding: 0.1px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us {
    width: 40%;
    color: #fff;
}

.brand {
    font-weight: 500;
    font-size: 40px;
}

.brand+p {
    font-weight: 500;
}

.social-media {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon {
    display: inline-block;
    margin-left: 20px;
    width: 45px;
    height: 45px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 30px;
}

.social-media-icon:nth-child(1):hover {
    background: #0268e2;
    color: white;
}

.social-media-icon:nth-child(2):hover {
    background: #1da1f2;
    color: white;
}

.social-media-icon:nth-child(3):hover {
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    color: white;
}

.line {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 70px;
}

/*! Mobile Menu  */

@media screen and (max-width: 800px) {
    .nav-menu {
        width: 40vw;
    }
    .titulo{
        font-size: 40px;
    }
    .container-service img{
        width: 80%;
        margin-bottom: 40px;
    }
    .checklist-service{
        width: 85%;
    }
    .service{
        margin-bottom: 30px;
    }
    .add-img{
        width: 80%;
    }
    .img-gallery{
        width: 45%;
    }
    .cont-expert{
        width: 80%;
    }
    .footer-content{
        justify-content: center;
    }
    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }
    .social-media-icon{
        margin-left: 0;
        margin-top: 15px;
    }
    .contact-us{
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
    }
}

@media screen and (max-width:500px){
    .nav-menu{
        width: 65vw;
    }
    .add-img{
        width: 90%;
    }
    .hamburger-icon{
        top: 20px;
        right: 20px;
    }
    .titulo{
        font-size: 30px;
    }
    .subtitulo{
        font-size: 30px;
    }
    .img-gallery{
        width: 95%;
    }
    .social-media{
        width: 100%;
    }
}